#main {
  height: 100vh;
  display: flex;
  background: radial-gradient(ellipse at top, #343a40, transparent), radial-gradient(ellipse at bottom, #000, transparent);
}

#side-menu {
  width: 250px;
  height: 100%;
  background-color: var(--bs-primary);
}

#side-menu + div {
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  #side-menu {
    display: none;
  }

  #side-menu + div {
    width: 100%;
  }
}
