.image-hover {
  position: relative;
  height: 200px;
  padding: 10px !important;
}

.image-hover img {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image-hover .middle {
  width: calc(100% - 19px);
  height: calc(100% - 19px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
}

.image-hover:hover .image-hover img {
  opacity: 0.3;
}

.image-hover:hover .middle {
  opacity: 1;
}

.image-hover a:hover {
  color: var(--bs-secondary);
  transform: scale(1.3);
  transition: transform .2s ease-in-out;
}

@media screen and (max-width: 575px) {
  .image-hover {
    height: 300px;
  }
}
