#menu-nav {
  height: 100%;
  background-color: var(--bs-primary);
}

#menu-nav ul {
  height: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#menu-nav img {
  width: 250px;
  height: 250px;
}

#menu-nav h3 {
  text-align: center;
  color: inherit;
  cursor: pointer;
  margin: 10px 0;
}

#socials {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#socials a:hover {
  transform: scale(1.5);
  transition: transform .2s ease-in-out;
}

#menu-nav li:not(#menu-nav li:first-child):not(#socials):not(#menu-nav li:last-child) {
  padding: 0 10%;
}

#menu-nav li:not(#menu-nav li:first-child):not(#socials):not(#menu-nav li:last-child) a {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--bs-secondary);
}

#menu-nav li:not(#menu-nav li:first-child):not(#socials):not(#menu-nav li:last-child):hover {
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
}

#menu-nav li:not(#menu-nav li:first-child):not(#socials):not(#menu-nav li:last-child):hover a {
  color: var(--bs-primary);
  transform: translatex(10px);
  transition: transform .3s ease-in-out;
}

#menu-nav li a {
  text-transform: uppercase;
}

#menu-nav li:last-child span {
  display: block;
  text-align: center;
}
